

.container {
  margin: 1rem 0;
}

button {
  padding: 0.2rem 1rem;
  margin-right: 0.3rem;
  cursor: pointer;
  background-color: #243eb3;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.3); /* ombre */
}
button:hover {
  background-color: #1d0574; /* couleur plus foncée au survol */
  box-shadow: 3px 3px 8px rgba(0,0,0,0.4);
}

    body { font-family: Arial, sans-serif; padding: 5px; }

    .btn-container { margin-bottom: 15px; }

    .result {
      display: inline-block;
      margin-left: 10px;
      font-weight: bold;
      color: darkblue;
    }
